In [43]:
import pandas as pd
import os
import datetime

In [56]:
# Get the list of all files and directories
path ='C:/Users/91766/Desktop/learn/bsedata'
bse_list = os.listdir(path)
bse_list[0]

'EQ010108.CSV'

In [59]:
df=pd.read_csv(r'C:/Users/91766/Desktop/learn/bsedata/'+bse_list[0])
df

,SC_CODE,SC_NAME,SC_GROUP,SC_TYPE,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,NO_TRADES,NO_OF_SHRS,NET_TURNOV,TDCLOINDI
0,526921,21ST CEN.MGM,B,Q,109.70,113.50,106.00,108.35,108.00,108.10,454,89879,9802583.0,NaN
1,532628,3I INFOTECH,B1,Q,148.00,149.85,147.00,148.80,148.80,145.75,2531,328901,48747812.0,NaN
2,523395,3M INDIA LTD,B1,Q,2325.00,2325.00,2280.00,2291.60,2285.00,2300.35,61,504,1162223.0,NaN
3,990001,6.75% US-64,F,B,97.20,97.50,97.11,97.11,97.11,97.28,19,8110,788476.0,NaN
4,530499,A.K.CAPITAL,B,Q,370.00,419.95,365.00,412.35,413.00,401.25,57,39681,14677692.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2901,512587,ZODIAC JRD,B,Q,48.15,48.40,43.20,45.15,45.15,44.15,228,26796,1200900.0,NaN
2902,530283,ZUARI FOREX,Z,Q,13.20,13.20,13.20,13.20,13.20,12.58,1,400,5280.0,NaN
2903,500780,ZUARI INDUS.,B1,Q,442.95,455.00,430.00,447.10,447.10,437.95,765,37123,16515114.0,NaN
2904,530091,ZYDEN GENTEC,T,Q,34.30,35.75,34.25,35.75,35.75,34.05,36,12426,441704.0,NaN
2905,532883,ZYLOG SYSTEM,B1,Q,420.00,443.70,418.05,427.75,427.75,417.15,2997,144213,62366179.0,NaN